/*******************************************************************/
/* ---                   INDEX.HTML                            --- */
/*******************************************************************/
.grillaImagenes{
    @include cont-grid();
    margin-bottom: 4rem;
    & img {
        max-width: 100%;
    }   
    @media only screen and (max-width: 768px){
        grid-template-columns: repeat(2,auto);
        & > div:nth-last-of-type(1),
        & > div:nth-last-of-type(2){
            display: none;
        }
    }
}
.tarjetasVinos{
    @include cont-flex($alin-ppal:space-evenly, $alin-sec:stretch, $gap-fil:1.5rem, $gap-col:1.5rem);
    margin-bottom: 7rem;
}
.tarjetaVino{
    max-width: 30rem;
    padding: 1rem 0.5rem;
    border: 0.3rem solid $colorOscuro;
    border-radius: $bordeRedondeado;
    > img {
        float: left;
    }
}
.contBodegas{
    @include cont-flex($alin-ppal:space-evenly, $gap-fil:1.5rem, $gap-col:1.5rem);
    margin-bottom: 7rem;
    p{
        font-size: 1.4rem;
        margin-bottom: 0;
        &::first-letter{
            margin-left: 0;
        }
    }
}
