/*******************************************************************/
/* ---                     RUTAS.HTML                          --- */
/*******************************************************************/
.imgFloatDer {
    margin: 1rem 1rem 1.5rem 2rem;
    float: right;
    border: $colorOscuro solid 1rem;
    border-bottom: 0;
    figcaption{
        background-color: $colorOscuro;
        color: $colorClaro;
    }
}
.imgFloatIzq{
    @extend .imgFloatDer;
    float: left;
    margin: 1rem 3rem 1.5rem 0;
}
.contImg{
    @include cont-flex($alin-ppal:space-evenly, $gap-fil:1.5rem, $gap-col:1.5rem);
    margin-bottom: 4rem;
    img{
        border: $colorOscuro solid 1rem;
        box-shadow: $sombraCont;
    }
}
li{
    text-align: left;
}
.tablaExc{
    display: grid;
    grid-template-areas:
        "t1 t2 t3 t4 t5"
        "f11 f12 f13 f14 f15"
        "f21 f22 f23 f24 f25";
    gap: 0.1rem;
    background-color: #ba773c;
    border: 0.1rem solid #ba773c;
    font-size: 1.2rem;
    margin-bottom: 7rem;
    & > div{
        background-color: #fdedde;
        text-align: center;
    }
  }
.tituloGrid{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    padding: 1rem;
}
@media only screen and (max-width: 550px){
    .tablaExc{
        grid-template-areas:
        "t1 f11 f21"
        "t2 f12 f22"
        "t3 f13 f23"
        "t4 f14 f24"
        "t5 f15 f25";
    }
    .tituloGrid{
        font-size: 1.2rem;
        padding: 1rem 0.5rem;
    }
}
.f11{
  grid-area: f11;
}
.f12{
  grid-area: f12;
}
.f13{
  grid-area: f13;
}
.f14{
  grid-area: f14;
}
.f15{
  grid-area: f15;
}
.f21{
  grid-area: f21;
}
.f22{
  grid-area: f22;
}
.f23{
  grid-area: f23;
}
.f24{
  grid-area: f24;
}
.f25{
  grid-area: f25;
}
.anchoArticulo{
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  @media only screen and (max-width: 768px){
    width:80vw;
  }
  @media only screen and (max-width: 576px){
    width:90vw;
  }
}