/*******************************************************************/
/* ---                 VARIEDADES.HTML                         --- */
/*******************************************************************/
.carousel{
    margin-bottom: 7rem;
}
.contImgUva{
    position: relative;
    > img{
        max-width: 100%;
        min-width: 30rem;
        border-top-left-radius: $bordeRedondeado;
        border-top-right-radius: $bordeRedondeado;
    }
}
.descripcionUva{
    background-color: $colorOscuro;
    color: $colorClaro;
    padding: 1.5rem;
    border-bottom-left-radius: $bordeRedondeado;
    border-bottom-right-radius: $bordeRedondeado;
}
.fa-chevron-left,
.fa-chevron-right{
    color: $colorClaro;
    font-size: 3rem;
    padding: 2rem;
    clip-path: circle(40%);
    background-color: $colorOscuro;
}   
@media only screen and (max-width: 768px) {
    .fa-chevron-left,
    .fa-chevron-right{
        padding: 2rem;
        clip-path: circle(25%);
    }
}
.carousel-control-next, .carousel-control-prev{
    opacity: 1;
}
